.payBox {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    background-color: var(--color-background);
    border: 1px solid var(--color-fader);
    border-radius: 5px;

}

.payBox .content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    height:65vh;
}

.payBox .contentContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.payBox .contentContainer h2 {
    font-size: 1.4rem;
    color: var(--color-black)
}

.payBox .contentContainer p {
    font-size: 1.2rem;
    color: var(--fadeText)
}

.payBox .imgContainer {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.payBox img {
    width: 120px
}


.payBox .actionContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.payBox button {
    width: 40%;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 1.5rem;
    border-radius: 50px;
}

.payBox button:nth-of-type(2) {
    background-color: var(--color-blue);
    color: var(--color-background)
}

@media screen and (max-width: 900px) {
    

    .payBox {
        width: 100%;
        border-radius:0px;
    
    }
    .payBox .content {
        width: 100%;
    }

}

@media screen and (max-width: 750px) {
    
    /* styling the pay section*/
    

    .payBox .content {
        background-color: var(--color-background);
    }

}