.settingbox{
    width: 100%;
    overflow-y: scroll;
    padding:20px 20px 100px 20px;
    margin-bottom: 100px;
}

.settingbox .signoutbutton{
    width:100%;
    padding-top:17px;
    padding-bottom:17px;
    border-radius: 30px;
    font-size: 1.2rem;
    color:red;
    font-weight: 700;
    font-family: Poppins;
    display:flex;
    align-items:center;
    justify-content:center
}



@media screen and (max-width: 750px) {

    /* styling the pay section*/
    .settingbox{
        padding:0px;
    }
   
    
    
    

}