 .headlistCon {
    border-bottom: 1px solid var(--color-fader);
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.headlistCon  {
    display: flex;

}

.headlistCon li {
    flex: 1;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--fadeText)
}
.headlistCon  li:nth-of-type(6) {
    flex: 1;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .headlistCon  li:nth-of-type(6) {
        flex: .5;
        text-align: right;
    }

}