.coinContainer {
    border-radius: 10px;
    background-color: var(--color-background);
    width: 100%;
}

.coinContainer .filterContainer{
    height:70px
}

/* styling the table head */
.tableContainer {
    border: 1px solid var(--color-fader);
    border-bottom: none;
}

.tableContainer .tableHead {
    width: 100%;
}

.tableContainer .tableBody {
    width: 100%;

}

.tableContainer .tableBody ul {
    display: flex;
    width: 100%;
}

.tableContainer .tableBody ul li {
    flex: 1;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-black)
}

/* styling the empty screen*/
.emptyScreen{
    display:flex;
    flex:1;
    align-items: center;
    justify-content: center;
    height:70vh;
}


@media screen and (max-width: 1000px) {
    .coinContainer {
        width: 700px;
    }

}




@media screen and (max-width: 750px) {
    .coinContainer {
        border-radius: 10px;
        background-color: var(--color-background);
        width: 100%;
        position:relative;
    }

    /* styling the table */
    .tableContainer {
        overflow-x: scroll;
    }

    .tableContainer .tableHead {
        display: none
    }





}