/* loader*/
.loaderCon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px
}

.loaderCon div {
    flex: 1
}

.loaderCon .listName,
.loaderCon .listPrice,
.loaderCon .listChange,
.loaderCon .listMarket,
.loaderCon .listBuy,
.loaderCon .listWatch {
    text-align: center;

}


.loaderCon .listName {
    display: flex
}

.loaderCon .listName .imgLoader {
    width: 30%;

}

.loaderCon .listName .idLoader {
    width: 70%;
}

.loaderCon .listBuy {}




@media screen and (max-width: 750px) {

    /* styling the loader*/
    .loaderCon .listChange,
    .loaderCon .listMarket,
    .loaderCon .listBuy {
        display: none
    }

}