.action_section {
    padding-bottom: 120px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    align-items:center
}

.action_container {
    width: 75%;
    display: flex;
    justify-content: space-between;

}
.action {
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;

}
.action i{
    font-size:5rem;
    margin-bottom: 30px;
    color:var(--color-blue)
}
.action  h1{
    font-size:1.5rem;
    font-family: poppins;
    color:rgb(120,120,120)
}

@media screen and (max-width: 600px) {
    .action_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        

    }

    .action {
        text-align:center;
        padding-top:30px;
        padding-bottom:30px;
        margin-bottom:60px
    }
}