.getStartedSectionOuter{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
}

.getStartedSection{
    display:flex;
    flex-direction:row;
    padding-top:100px;
    padding-bottom:30px;
    background: #fff;
    margin-bottom:30px;
    width:90%;
}
.getStartedSection_content{
    width:50%;
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.getStartedSection_imageCon{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-end;
    padding-right:100;
}


.getStartedSection_content_paragraph{
    display:flex;
    gap:5px;
    color:var(--color-blue);
    align-items:center;
    justify-content: flex-start;
    
    
}
.getStartedSection_content_head{
    font-size:3rem;
    font-family:poppins;

}
.getStartedSection_content_paragraph i:nth-of-type(1){
    color:white;
    background-color:var(--color-blue);
    padding:5px;
    border-radius:20px;
}

.getStartedSection_content_about{
    font-size:1.4rem;
    margin-bottom: 40px;

}
.getStartedSection_content_form{
    width:100%;
    display:flex;
    flex-direction:row;
    gap:10px

}
.getStartedSection_content_form input{
    width:60%;
    height:60px;
    border:1px solid rgb(200,200,200);
    border-radius:4px;
    padding:10px

}
.getStartedSection_content_form button{
    width:30%;
    background-color: var(--color-blue);
    border-radius:4px;
    font-size:16px;
    font-weight:1rem;
    color:white;
    height:60px;
    font-weight: 700;
}










@media screen and (max-width: 960px) {
    .getStartedSection_content{
        width:60%;
        display:flex;
        flex-direction: column;
    
    }
    .getStartedSection_imageCon{
        display:none;
        width:100%;
        align-items:center;
    }

    .getStartedSection_image{
        width:90%;
        padding:15px;
        padding-top:50px;
        padding-bottom:50px;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
        padding-right:100;
        background-color:rgb(250, 250, 250);
        border-radius:10px
        
    
    }
    
  }


@media screen and (max-width: 750px) {
    .getStartedSection{
        display:flex;
        flex-direction:column;
        padding-top:100px;
        padding-bottom:30px;
        background: #fff;
        margin-bottom:30px;
        align-items:center;
        justify-content:center
    
    }

    .getStartedSection_content{
        width:100%;
        display:flex;
        flex-direction: column;
        margin-bottom:70px
    
    }
    .getStartedSection_imageCon{
        width:100%;
        display:flex;
        flex-direction: column;
    
    }
    .getStartedSection_image{
        width:80%;
        padding:15px;
        padding-top:50px;
        padding-bottom:50px;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
        padding-right:100;
        background-color:rgb(250, 250, 250);
        border-radius:10px
        
    
    }
    
  



  }
  @media screen and (max-width: 550px) {
    .getStartedSection{
        display:flex;
        flex-direction:column;
        padding-top:100px;
        padding-bottom:30px;
        background: #fff;
        margin-bottom:30px;
        align-items:center;
        justify-content:center
    
    }

    .getStartedSection_content_head{
        font-size:2.2rem;
        font-family:poppins;
    
    }
    .getStartedSection_content_about{
        font-size:1.2rem;
        font-weight:300
    
    }
    .getStartedSection_content_form{
        width:100%;
        display:flex;
        flex-direction:column;
    
    }
    .getStartedSection_content_form input{
        width:90%;
        margin-bottom:30px
    
    }
    .getStartedSection_content_form button{
        width:90%;
    }
   
    
  



  }

  