.info_section {
    padding-bottom: 120px;
    padding-top: 120px;
    background-color: var(--color-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:10px;
    margin-bottom: 30px;
}

.info_container {
    width: 90%;
    display: flex;
    justify-content: space-between;

}
.info {
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;

}
.info  h1{
    font-size:3.5rem;
    font-family: poppins;
    color:var(--color-background)
}
.info  p{
    font-size:1.2rem;
    font-family: poppins;
    color:var(--color-background)
}
@media screen and (max-width: 600px) {
    .info_section {
    padding-bottom: 70px;
    padding-top: 70px;
}

    .info_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        

    }

    .info {
        text-align:center;
        padding-top:30px;
        padding-bottom:30px
    }
}