.portfolio_section {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:10px;
    border-bottom:1px solid rgb(245,245,245)
}

.portfolio_section h1 {
    font-size: 2.5rem;
    font-family: poppins;
    font-weight: 900;
    margin-bottom: 15px;
}

.portfolio_section p {
    font-family: poppins;
    font-weight: 300;
    font-size: 17px;
    color: rgb(100, 100, 100);
    margin-bottom: 80px;

}

.portfolio_container {
    display: flex;
    flex-direction: row;

}

.portfolio_contentCon {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.portfolio_content {
    margin-bottom: 0px;
    display: flex;
}

.portfolio_content_logo {
    width: 26%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 4%
}

.portfolio_content_logo .portfolio_content_logo_con {
    width: 75px;
    height: 75px;
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px 3px rgb(228, 228, 228);
}
.portfolio_content_logo_con img{
    width:40%
}

.portfolio_content_writeup {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.portfolio_content_writeup h1 {
    font-size: 1.5rem;
    color:rgb(120,120,120)
}

.portfolio_content_writeup p {
    font-size: 1.2rem;

}

.portfolio_imageCon {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.portfolio_imageCon img {
    width: 70%;
    justify-self: flex-start;
    margin-top: 20px;
    margin-left: 30px
}





@media screen and (max-width: 1200px) {
    .portfolio_container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;


    }

    .portfolio_contentCon {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .portfolio_content_writeup {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        align-items: flex-start;
    }

    .portfolio_content_writeup h1 {
        font-size: 1.5rem;
        text-align: left;

    }

    .portfolio_content_writeup p {
        font-size: 1.2rem;
        text-align: left;

    }

    .portfolio_imageCon {
        width: 80%;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0px
    }

    .portfolio_imageCon img {
        width: 100%;

    }
}
@media screen and (max-width: 750px) {
    .portfolio_section h1 {
        text-align: center;
        width: 70%
    }

    .portfolio_section p {
        text-align: center;
        width: 90%
    }



}

@media screen and (max-width: 560px) {
    .portfolio_section h1 {
        text-align: center;
        width: 100%
    }

    .portfolio_section p {
        text-align: center;
        width: 100%
    }
    .portfolio_contentCon {
        width: 100%;
    }
    .portfolio_content {
        width: 100%;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .portfolio_content_logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4%;
        margin-bottom:25px
    }
    
    .portfolio_content_logo .portfolio_content_logo_con {
        width: 75px;
        height: 75px;
        border-radius: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 3px 3px 3px rgb(228, 228, 228);
    }
    .portfolio_content_writeup {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-left: 0px;
        align-items: center;
    }

    .portfolio_content_writeup h1 {
        display:block;
        font-size: 1.4rem;
        align-self: center;
        width: 100%;

    }

    .portfolio_content_writeup p {
        font-size: 1.1rem;
        text-align: center;
        align-self: center;
        width:95%;
        padding-right:0%;
        margin-right:0px

    }
    .portfolio_imageCon img {
        width: 100%;
        justify-self: flex-start;
        margin-top: 20px;
        margin-left:0px
    }
    

}