.content {
    display: flex;
    flex-direction: column;
    padding-top:70px;
}
.headingSection{
    display:flex;
    flex-direction:column;
    justify-content:Center;
    align-items:center;
    width:100%;
    margin-bottom:40px;
    
}
.headingSection h1{
    font-family: poppins;
    font-size:2.5rem;
    margin-bottom:10px
}
.headingSection p{
    color:rgb(100,100,100);
    font-size:1.5rem
}

/* styling the guide section*/
.guideSection{
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
    width:95%;
    margin-right:auto;
    margin-left:auto;
    padding-top: 10px;
    margin-bottom:40px;
    gap:2rem

}

/* for smaller screens*/



@media screen and (max-width: 768px) {
    
    .headingSection h1{
        font-size:1.8rem;
        text-align: center;
    }
    .headingSection p{
        
        text-align: center;
        font-size:1.1rem
    }


    /* guide section*/
    .guideSection{
        width:100%;
        flex-direction:Column;
        align-items:center
    }

}