.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
    background-color: var(--color-blue);
  }

  /* logo */
  .bars{
    display: none;
  }
  
  
  .logo {
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 4%;
  }
  .logo > span {
    color: var(--color-background);
  }
  
  .logo > img {
    width: 3rem;
    height: 3rem;
  }
  
  
  /* menu */
  .menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .menuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 5rem;
    margin-left: 1.5rem;
    position: relative;
    transition: all 300ms ease;
    font-size: 14px;
    color:var(--color-background)
  }
  
  .menuItem:hover {
    cursor: pointer;
    color:black
  }
  
  .menu .menuItem:last-child {
    position: absolute;
    bottom: 2.3rem;
    width: 100%;
  }
  
  .active {
    background: var(--color-fade);
    margin-left: 0;
    color:var(--color-blue);
    width:90%;
    margin:0px auto 0px auto;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .active::before {
    content: "";
    width: 8px;
    height: 100%;
    background: var(--color-fade);
    margin-right: calc(1rem - 8px);
  }
  
  
  /* Tablets */
  @media screen and (max-width: 1200px) {
    
   .logo{
    display:none
   }
  }
  
  @media screen and (max-width: 768px) {
    .sidebar{
      position: fixed;
      z-index: 9;
      width: 55%;
      padding-right: 1rem;
      height: 100%;
    }
    .menuItem>span{
      display: block;
    }
    .logo{
      display: flex;
    }
    .menu .menuItem:last-child {
      position: relative;
      margin-top: 6rem;
    }
    .bars{
      display: flex;
      position: fixed;
      top: 1rem;
      left:60%;
      padding:10px;
      border-radius: 10px;
      z-index: 9;
      background-color: var(--color-blue);
      color:var(--color-background);
      border-radius: 5px;
    }
    .close{
      left: -60%;
    }
  }
  
  