.form_container{
    width:30%;
    padding-top:70px;
    padding-bottom:100px;
    margin-left: auto;
    margin-right:auto
}


@media screen and (max-width: 820px) {
    .form_container{
        width:70%;
        padding-top:100px;
        padding-bottom:100px;
        margin-right:auto;
        margin-left:auto
    }

}