
  .form_container{ 
    padding-top: 100px; 
    padding-bottom:100px;
    width:380px;
    margin:0px auto 80px auto;
  }
  
  .form_container h1{
    font-size:2rem;
    font-weight:900;
    font-family:poppins
  }
  
  .piracyContainer{
    display:flex;
    justify-content: space-between;
    padding-top:20px
  
  }
  .piracyContainer p{
    color:var(--color-blue);
    font-family:poppins;
    font-size: 15px;
  }

  @media screen and (max-width: 900px) {
    .form_container h1{
      font-weight:900;
      font-family:poppins
    }
    .form_container{ 
      width:70%;
    }
    
  }
  
  
  
  @media screen and (max-width: 620px) {
    .form_container h1{
      font-weight:900;
      font-family:poppins
    }
    .form_container{ 
      padding-top: 100px; 
      padding-bottom:100px;
      width:90%;
    }
    
  }
  
  