.dashboard_main{
    width:100%;
    overflow-y: scroll;
    position:relative;
}

.dashboard_main_header{
    height:80px;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    border-bottom:1px solid rgb(200,200,200);
    position:sticky;
    top:0%;
    background-color: var(--color-blue);
}

.dashboard_main_header{
    display:flex;
    flex-direction: column;
    padding:20px 0px 30px 0px;
    width:100%;
    background-color: var(--color-blue);
}

.dashboard_main_header h1{
    color:var(--color-background);
    font-size:20px;
    padding-left:15px;
    font-family:poppins;
}
.form_main_heading_container{
    display:flex;
    flex-direction: column;
    padding:20px 0px 50px 0px;
    width:97%;
    margin-right:auto;
    margin-left:auto;
    background-color: var(--color-blue);

}
