.form_main {
    width: 100%;
    overflow-y: scroll;
    position: relative;
    margin-bottom:10px;
}
.form_main_heading_container{
    width:100%;
    margin-right:auto;
    margin-left:auto;
    background-color:var(--color-blue);
    justify-content: center;
    height:100px;
    padding-top:30px;
    padding-bottom:30px;

}

.form_main_heading {
    font-weight: 300;
    width:100%;
    padding-left:30px;
    color:var(--color-background);
    margin-top:-10px
    
    
}
.form_input_card_container{
    display:flex;
    flex-direction: column;
    gap:40px;
    align-items:center;
    padding:20px 0px 50px 0px;
    width:100%;

}
.form_input_card_container div{
    width:100%;

}

.form_submit_btn_con{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 200px;
   

}

.form_submit_btn{
    padding-top:18px;
    padding-bottom:18px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:90%;
    background-color:  var(--color-blue);
    margin-left:3px;
    border-radius:5px

}
.form_submit_btn p{
    color:var(--color-background);
    font-size: 20px;
}
.selector{
    width:100%;
    margin:auto;
    background-color:rgb(240,240,240);
    height:55px;
    padding:10px;
    border-radius:5px;
    font-size:17px
}
.imageOuterContainer{
    overflow:scroll;
    

}
.imageContainer{ 
    object-fit: contain; 
    height: 300px;
    overflow:scroll;
    text-align: center;
    
    
}
.image{
    width:100%;

    
}

@media screen and (max-width: 768px) {
    .form_submit_btn{
        width:90%;
    }
    .form_input_card_container{
        width:98%;
    
    }

}