.limitbox{
    width: 80%;
    overflow-y: scroll;
    padding:20px 20px 100px 20px;
    margin-bottom: 100px;
}


@media screen and (max-width: 750px) {

    /* styling the pay section*/
    .limitbox{
        padding:0px;
        width:100%;
    }
   
    
    
    

}