/*  syling the balance section */
.balance {
    border-radius: 10px;
    border: 1px solid var(--color-fader);
    padding: 24px;
    background-color: var(--color-background);

}


.balance .balanceAmount {
    font-size: 1.2rem;
}

.balance .balanceAmount:nth-of-type(2) {
    margin-bottom: 30px;
    font-size: 3rem;
}



/* action container */
.balance .actionOuterCon {
    border: 1px solid var(--color-fader);
    padding: 24px;
}

.balance .actionOuterCon h2 {
    font-size: 1.5rem
}

.balance .actionOuterCon p {
    color: var(--color-blue);
    font-size: 1rem
}

.balance .actionCon {
    display: flex;
}

.balance .actionCon .actionLeft {
    width: 40%;
    padding-top: 50px;
    margin-right: 10%;

}

.balance .actionCon .actionLeft .list {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.balance .actionCon .actionLeft .list .iconCon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}


.balance .actionCon .actionLeft .list .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 100%;
    background-color: var(--color-fade);
}

.balance .actionCon .actionLeft .list .icon span {
    color: var(--color-blue);
    font-size: 1.2rem;
}

.balance .actionCon .actionLeft .list .textCon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.balance .actionCon .actionLeft .list .textCon p {
    font-size: 1.3rem;
    color: var(--color-black);
    font-weight: 500;
}


.balance .actionCon .actionRight {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-left: 1px solid var(--color-fader);

}

.balance .actionCon .actionRight .buyContainer {
    width: 90%;
    background-color: var(--color-light-fade);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.balance .actionCon .actionRight .buyContainer .iconContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;


}

.balance .actionCon .actionRight .buyContainer span {
    padding: 5px;
    border: 1px solid var(--color-fader);
    border-radius: 100%;
    color: var(--color-blue)
}

.balance .actionCon .actionRight .buyContainer p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-fader);
    color: var(--color-black);
    font-weight: 600;
}

.balance .actionCon .actionRight .buyContainer p span {
    padding: 5px;
    border-radius: 100%;
    color: var(--color-blue);
    border: none
}


.balance .actionCon .actionRight .buyContainer button {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    height: 55px;
    border-radius: 7px;
    background-color: var(--color-blue);
    color: var(--color-background)
}


@media screen and (max-width: 900px) {
    
    /*  syling the balance section */
     .balance {
        border-radius: 10px;
        border: none;
        padding: 0px;
    }


    .balance .actionCon .actionRight .buyContainer .iconContainer {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

    }
}

@media screen and (max-width: 750px) {
    
    .balance .actionCon {
        flex-direction: column;
    }

    .balance .actionCon .actionLeft,
    .balance .actionCon .actionRight {
        width: 100%;

    }

}