.contentContainer {
    height: 75vh;
    padding-top: 15vh
}
.greetings{
    font-size:2rem;
}

.imageOuterContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-bottom:10px;
}
.imageContainer{
     width:80px;
     height:80px;
     border-radius:100px; 
     background-color:rgb(240,240,240);
    display:flex; 
    align-items: center; 
    justify-content:center
 }
 .statementSection{ 
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .statementCon {
    width:80%;
    padding:20px;
    border-radius:10px;
}
.statement{
    font-size:1.3rem;
    text-align:center;
    color:rgb(100,100,100);
    font-weight:300;
    font-family:poppins;
}
.statementSection button{
    width:35%;
    padding-top:20px;
    padding-bottom: 20px;
    background-color: rgb(240,240,240);
    border-radius:30px;
    font-size: 1.2rem;
    font-family:poppins;
    font-weight: 600;
}


@media screen and (max-width: 820px) {
    .statementSection button{
    width:80%;
    
}

   

}
                  