 .form_outercontainer {
   display: flex;
   justify-content: center;
   padding-top: 100px
 }

 .form_container {
   width: 400px;
   padding: 30px;
   border: 1px solid rgb(225, 225, 225);
   border-radius: 20px;
 }

 .form_container h1 {
   font-size: 2rem;
   font-weight: 900;
   font-family: poppins;
   margin-bottom: 40px;
   color: var(--color-blue)
 }

 .form_container h2 {
   font-size: 2rem;
   font-weight: 900;
   font-family: poppins;
   margin-bottom: 10px;
 }
 .form_container span{
  font-size: 3rem;
  display:none
 }

 .form_container p {
   font-size: .9rem;
   color: var(--fadeText);
 }

 .form_container .errortext {
  font-size: 1.1rem;
  color: var(--color-red);
}


 .piracyContainer {
   display: flex;
   justify-content: center;
   padding-top: 20px
 }

 .piracyContainer p {
   color: var(--color-blue);
   font-family: poppins;
   font-size: 15px;
 }

 @media screen and (max-width: 1024px) {
   .form_container h1 {
     font-weight: 900;
     font-family: poppins
   }


 }


 @media screen and (max-width: 900px) {
   .form_container h1 {
     font-weight: 900;
     font-family: poppins
   }


 }



 @media screen and (max-width: 520px) {
  .form_outercontainer {
    display: flex;
    justify-content: center;
    padding-top: 0px
  }
  .form_container {
    width: 100%;
    padding: 35px;
    border: none;
    border-radius: 20px;
    padding-top: 10px;
 
  }
   .form_container h1 {
     font-weight: 900;
     font-family: poppins;
     display:none
   }
   .form_container span{
    font-size: 2rem;
    display:block;
    margin-bottom: 30px;
   }


 }