.form_outercontainer {
  display: flex;
  justify-content: center;
  padding-top: 100px
}

.form_container {
  width: 400px;
  padding: 30px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 20px;

}

.form_container h1 {
  font-size: 2rem;
  font-weight: 900;
  font-family: poppins;
  margin-bottom: 40px;
  color: var(--color-blue)
}

.form_container .arrow_back {
  font-size: 3rem;
  display: none
}

.form_container h2 {
  font-size: 2rem;
  font-weight: 900;
  font-family: poppins;
  margin-bottom: 15px;
}



.form_container p {
  font-size: 1rem;
  color: var(--color-black);
}

.email_box {
  width: 100%;
  border-radius: 10px;
  color: var(--color-form);
  font-size: 1.2rem;
  font-weight: 600;
  border: 1px solid rgb(200, 200, 200);
  display: flex;
  align-items: center;
  height: 65px
}

.email_box:hover {
  background-color: rgb(245, 245, 245);
}

.email_box .left_email_box,
.email_box .right_email_box {
  display: flex;
  align-items: center;
  justify-content: content;
  height: 100%;
  overflow: hidden;
}

.email_box .left_email_box {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email_box .right_email_box {
  width: 85%;
}

.email_box .left_email_box div {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px
}

.email_box span {
  color: grey;
  font-size: 30px;

}

.cancelContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px
}

.cancelContainer p {
  color: var(--color-blue);
  font-family: poppins;
  font-size: 15px;
}


.forgetPasswordText {
  font-family: poppins;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--color-blue) !important
}


@media screen and (max-width: 1024px) {
  .form_container h1 {
    font-weight: 900;
    font-family: poppins
  }


}


@media screen and (max-width: 900px) {
  .form_container h1 {
    font-weight: 900;
    font-family: poppins
  }
}



@media screen and (max-width: 520px) {
  .form_outercontainer {
    display: flex;
    justify-content: center;
    padding-top: 0px
  }

  .form_container {
    width: 100%;
    padding: 35px;
    border: none;
    border-radius: 20px;
    padding-top: 10px;

  }

  .form_container h1 {
    font-weight: 900;
    font-family: poppins;
    display: none
  }

  .form_container .arrow_back {
    font-size: 2rem;
    display: block;
    margin-bottom: 30px;
  }


}